<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RechDonnees</servlet-name>
        <servlet-class>controleur.Servlet_Produit</servlet-class>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:oracle:thin:@oracleadudb1.bdeb.qc.ca:1521:gdna10</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>UG214E30</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>W5hx2u</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>oracle.jdbc.OracleDriver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RechPompe</servlet-name>
        <servlet-class>controleur.RechPompe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Pompe</servlet-name>
        <servlet-class>controleur.Servlet_Pompe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Detail_Pompe</servlet-name>
        <servlet-class>controleur.Servlet_Detail_Pompe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Thermo</servlet-name>
        <servlet-class>controleur.Servlet_Thermo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Detail_Thermo</servlet-name>
        <servlet-class>controleur.Servlet_Detail_Thermo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Sanitation</servlet-name>
        <servlet-class>controleur.Servlet_Sanitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Detail_Sanitation</servlet-name>
        <servlet-class>controleur.Servlet_Detail_Sanitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Panier</servlet-name>
        <servlet-class>controleur.Servlet_Panier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechDonnees</servlet-name>
        <url-pattern>/RechDonnees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechPompe</servlet-name>
        <url-pattern>/RechPompe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Pompe</servlet-name>
        <url-pattern>/Servlet_Pompe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Detail_Pompe</servlet-name>
        <url-pattern>/Servlet_Detail_Pompe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Thermo</servlet-name>
        <url-pattern>/Servlet_Thermo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Detail_Thermo</servlet-name>
        <url-pattern>/Servlet_Detail_Thermo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Sanitation</servlet-name>
        <url-pattern>/Servlet_Sanitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Detail_Sanitation</servlet-name>
        <url-pattern>/Servlet_Detail_Sanitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Panier</servlet-name>
        <url-pattern>/Servlet_Panier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
